<div class="jumbotron py-3">
  <h1 class="display-6 text-center">IPO Register form</h1>
</div>

<div class="row">
  <div class="col-md-6">
    <app-ipo-details-form> </app-ipo-details-form>
  </div>
  <div class="col-md-6">
    <table class="table table-hover table-dark">
      <thead class="thead-light">
        <tr>
          <th>Company Name</th>
          <th>Bidding Date</th>
          <th>Price Range</th>
          <th>Issue Size</th>
          <th>Managing Director</th>
        </tr>
      </thead>

      <!-- IpoId: number;
  CompanyName: string;
  BiddingDates: string;
  PriceRange: string;
  IssueSize: string;
  ManagingDirector: string; -->
      <tbody>
        <tr *ngFor="let cd of service.Ipolist">
          <td (click)="populateForm(cd)">{{ cd.CompanyName }}</td>
          <td (click)="populateForm(cd)">{{ cd.BiddingDates }}</td>
          <td (click)="populateForm(cd)">{{ cd.PriceRange }}</td>
          <td (click)="populateForm(cd)">{{ cd.IssueSize }}</td>
          <td (click)="populateForm(cd)">{{ cd.ManagingDirector }}</td>
          <td>
            <i
              class="far fa-trash-alt fa-lg text-danger"
              (click)="onDelete(cd.IpoId)"
            ></i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
