<form novalidate #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">
  <input type="hidden" name="id" [value]="service.formData.id" />

  <div class="form-group">
    <label>COMPANY NAME</label>
    <input
      class="form-control form-control-lg"
      placeholder="Company Name"
      name="name"
      #name="ngModel"
      [(ngModel)]="service.formData.name"
      required
      [class.invalid]="name.invalid && name.touched"
    />
  </div>
  <div class="form-group">
    <label>TURNOVER</label>
    <input
      class="form-control form-control-lg"
      placeholder="TurnOver"
      name="turnover"
      #turnover="ngModel"
      [(ngModel)]="service.formData.turnover"
      required
      [class.invalid]="turnover.invalid && turnover.touched"
    />
  </div>
  <div class="form-group">
    <label>CEO</label>
    <input
      class="form-control form-control-lg"
      placeholder="CEO name"
      name="ceo"
      #ceo="ngModel"
      [(ngModel)]="service.formData.ceo"
      required
      [class.invalid]="ceo.invalid && ceo.touched"
    />
  </div>
  <div class="form-group">
    <label>SECTOR</label>
    <input
      class="form-control form-control-lg"
      placeholder="Sector Name"
      name="sector"
      #sector="ngModel"
      [(ngModel)]="service.formData.sector"
      required
      [class.invalid]="sector.invalid && sector.touched"
    />
  </div>
  <div class="form-group">
    <label>BRIEF</label>
    <input
      class="form-control form-control-lg"
      placeholder="Enter a short brief here"
      name="brief"
      #brief="ngModel"
      [(ngModel)]="service.formData.brief"
      required
      [class.invalid]="brief.invalid && brief.touched"
    />
  </div>
  <div class="form-group">
    <label>STOCKCODE</label>
    <input
      class="form-control form-control-lg"
      placeholder="StockCode"
      name="stockCode"
      #stockCode="ngModel"
      [(ngModel)]="service.formData.stockCode"
      required
      [class.invalid]="stockCode.invalid && stockCode.touched"
    />
    <br />
  </div>
  <div class="form-group">
    <div class="d-grid gap-2">
      <button
        class="btn btn-info btn-lg btn-block"
        style="background-color: blue"
        type="submit"
        [disabled]="form.invalid"
      >
        SUBMIT
      </button>
    </div>
  </div>
</form>
