<header
  class="
    d-flex
    flex-column flex-md-row
    align-items-center
    justify-content-between
    p-2
    px-md-4
    mb-3
    bg-info
    border-bottom
    shadow-sm
    fixed-top
  "
>
  <i class="fas fa-chart-line fa-3x mr-3"></i>
  <nav class="my-2 my-md-0 me-md-3 text-uppercase" style="font-size: larger">
    <a class="p-2 text-dark" href="#" style="text-decoration: none"> IPOs</a>
    <a class="p-2 text-dark" href="#" style="text-decoration: none"
      >Compare Companies</a
    >
    <a class="p-2 text-dark" href="#" style="text-decoration: none"
      >Compare Sectors</a
    >
  </nav>
  <div class="d-flex align-items-center">
    <a class="btn btn-outline-secondary mr-2" href="#">Login</a>
    <a class="btn btn-outline-secondary mr-3" href="#">Sign up</a>
  </div>
</header>
