<header
  class="
    d-flex
    flex-column flex-md-row
    align-items-center
    justify-content-between
    p-2
    px-md-4
    mb-3
    bg-white
    border-bottom
    shadow-sm
    fixed-top
  "
>
  <a href=""><i class="fas fa-chart-line fa-3x mr-3" routerLink="/"></i></a>

  <nav class="my-2 my-md-0 me-md-3 text-uppercase" style="font-size: larger">
    <a class="p-2 text-dark" href="#" style="text-decoration: none"
      >Import Data</a
    >
    <a
      class="p-2 text-dark"
      href="#"
      style="text-decoration: none"
      routerLink="/create"
      >Manage Companies</a
    >
    <a
      class="p-2 text-dark"
      href="#"
      style="text-decoration: none"
      routerLink="/"
      >Manage Exchange</a
    >
    <a
      class="p-2 text-dark"
      href="#"
      style="text-decoration: none"
      routerLink="/"
      >Update IPO details</a
    >
  </nav>
  <div class="d-flex align-items-center">
    <a class="btn btn-danger mr-2" href="#" (click)="OnLogout()">Logout</a>
  </div>
</header>
