<div class="card" style="background-color: lightgoldenrodyellow">
  <h4
    class="card-header"
    style="
      text-align: center;
      font-weight: initial;
      margin: 20px;
      background-color: lightgrey;
    "
  >
    Register
  </h4>

  <form
    [formGroup]="service.formModel"
    autocomplete="off"
    (submit)="OnSubmit()"
    style="padding: 20px"
  >
    <div class="form-group required">
      <label>Username</label>
      <input type="text" class="form-control" formControlName="UserName" />
      <label
        class="text-danger"
        *ngIf="
          service.formModel.get('UserName')?.touched &&
          service.formModel.get('UserName')?.errors?.required
        "
        >This field is mandatory</label
      >
    </div>
    <div class="form-group">
      <label>Full Name</label>
      <input type="text" class="form-control" formControlName="FullName" />
      <label
        class="text-danger"
        *ngIf="
          service.formModel.get('FullName')?.touched &&
          service.formModel.get('FullName')?.errors?.required
        "
        >This field is mandatory</label
      >
    </div>
    <div class="form-group">
      <label>Email</label>
      <input type="text" class="form-control" formControlName="Email" />
      <label
        class="text-danger"
        *ngIf="
          service.formModel.get('Email')?.touched &&
          service.formModel.get('Email')?.errors?.email
        "
        >Invalid email address</label
      >
    </div>
    <div class="form-group">
      <label>MobileNumber</label>
      <input type="text" class="form-control" formControlName="MobileNumber" />
      <label
        class="text-danger"
        *ngIf="
          service.formModel.get('MobileNumber')?.touched &&
          service.formModel.get('MobileNumber')?.errors?.maxlength
        "
        >Must be of 10 digits</label
      >
      <label
        class="text-danger"
        *ngIf="
          service.formModel.get('MobileNumber')?.touched &&
          service.formModel.get('MobileNumber')?.errors?.minlength
        "
        >Must be of 10 digits</label
      >
      <label
        class="text-danger"
        *ngIf="
          service.formModel.get('MobileNumber')?.touched &&
          service.formModel.get('MobileNumber')?.errors?.pattern
        "
      >
        & Only digits !</label
      >
    </div>

    <div class="form-group required">
      <label>Password</label>
      <input type="password" class="form-control" formControlName="Password" />
      <label
        class="text-danger"
        *ngIf="
          service.formModel.get('Password')?.touched &&
          service.formModel.get('Password')?.errors?.minlength
        "
        >Minimum 4 characters</label
      ><label
        class="text-danger"
        *ngIf="
          service.formModel.get('Password')?.touched &&
          service.formModel.get('Password')?.errors?.required
        "
        >This field is mandatory</label
      >
    </div>

    <br />
    <div class="form-group">
      <div class="d-grid gap-2">
        <button
          class="btn btn-info btn-lg btn-block"
          [disabled]="!service.formModel.valid"
          type="submit"
        >
          Sign UP
        </button>
      </div>
    </div>
  </form>
</div>
